<div class="container">
	
	<table class="table">
		<tbody>
			<tr>
				<th>Date</th>
				<th>Title</th>
				<th>Amount</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<% @accounts.each do |account| %>
			<tr>
				<td><%= account.date %></td>
				<td><%= account.title %></td>
				<td><%= account.amount %></td>
				<td><%= link_to 'Edit', edit_account_path(account), class: 'btn btn-sm btn-success' %></td>
				<td><%= link_to 'Delete', account_path(account), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %></td>
			</tr>
			<% end %>
		</tbody>	
	</table>
</div>